.form_container {
    background-color: gold;
    /* padding: 40px; */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 45px;
}

#agenda_form_header {
    margin-bottom: 25px;
}